.editor {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
}

.ql-editor {
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.ql-container {
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Scrollbar styling */
.editor::-webkit-scrollbar {
    width: 8px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.editor::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
